@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%; /* #F5F5F5 */
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 178 41% 62%; /* #70CBC9 */
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 0 0% 92%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 0 0% 92%;
    --muted-foreground: 225.5 8.9% 43.1%;
    --accent: 201 58% 80%; /* #A7D9ED */
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 178 41% 62%;
    --chart-1: 178 41% 62%;
    --chart-2: 201 58% 80%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 204 10% 10%;
    --foreground: 0 0% 98%;
    --card: 204 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 204 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 178 41% 62%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 204 10% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 204 10% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 201 58% 70%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 10% 20%;
    --input: 204 10% 20%;
    --ring: 178 41% 55%;
    --chart-1: 178 41% 62%;
    --chart-2: 201 58% 70%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
